<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceTestSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.3.40/WebServiceTest.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebServiceTestSoap" contract="Service.WebServiceTestSoap"
                name="WebServiceTestSoap" />
        </client>
    </system.serviceModel>
</configuration>